/* Header */
.l-header {background:$colorHeaderBg;border-radius:0 0 6px 6px;line-height:52px;}
.header-title {font-size:24px;margin-left:15px;}
.registration-agree {font-size:11px;margin-left:10px;}
.header-username {display:inline-block;font-size:14px;line-height:22px;padding:2px 8px 0;}