<div class="container home-intro">
	<div class="row">
		<div class="md-col-12">
			<h1 class="home-intro_title text-center">It's Notebook App</h1>
  		<h2 class="home-intro_subtitle text-center">Create notes — find notes.</h2>
		</div>
	</div> <!--row -->
</div>

<div class="container home-search">
	<div class="row">
		<div class="col-md-4"></div>
    <div class="col-md-4">
	    <input type="text" class="form-control" ng-model="searchNote" placeholder="Поиск...">
  	</div><!-- /.col-lg-6 -->
  	<div class="col-md-4"></div>
  </div>
</div>

<div class="container note-form">
	<div class="row">
		<div class="col-md-2"></div>
    <div class="col-md-8">
    	<h3 class="">Новая заметка</h3>
	    <div class="input-group">
	      <input id="new-note-input" type="text" class="form-control" placeholder="Есть, что записать?">
	      <span class="input-group-btn">
	        <button class="btn btn-info" type="button" ng-click="createNote()">Записать</button>
	      </span>
    	</div><!-- /input-group -->
  	</div>
  	<div class="col-md-2"></div>
  </div>
	</div>
</div>

<div class="container content">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<ul class="content-list">
				<li ng-repeat="note in notes | filter:searchNote | orderBy:'-'" data-id="{{note.id}}" class="content-list_item">
					<label for="" class="note-date label label-warning">{{note.date}}</label>
					<div class="note-body">
						<span ng-click="removeNote($event)" class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">{{note.text}}</h4>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>


