<div class="container home-intro">
	<div class="row">
		<div class="md-col-12">
			<h1 class="home-intro_title text-center">It's Notebook App</h1>
  		<h2 class="home-intro_subtitle text-center">Greate notes — find notes.</h2>
		</div>
	</div> <!--row -->
</div>

<div class="container home-search">
	<div class="row">
		<div class="col-md-4"></div>
    <div class="col-md-4">
	    <input type="text" class="form-control" placeholder="Поиск...">
  	</div><!-- /.col-lg-6 -->
  	<div class="col-md-4"></div>
  </div>
</div>

<div class="container note-form">
	<div class="row">
		<div class="col-md-2"></div>
    <div class="col-md-8">
    	<h3 class="">Новая заметка</h3>
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Есть, что записать?">
	      <span class="input-group-btn">
	        <button class="btn btn-info" type="button">Записать</button>
	      </span>
    	</div><!-- /input-group -->
  	</div>
  	<div class="col-md-2"></div>
  </div>
	</div>
</div>

<div class="container content">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<ul class="content-list">
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
				<li class="content-list_item">
					<label for="" class="note-date label label-warning">20.11.2015</label>
					<div class="note-body">
						<span class="remove-note glyphicon glyphicon-remove"></span>
						<h4 class="note-title">Новая заметка про кое-что очень интересное</h4>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>


